<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <div class="login-page">
        <div class="form">
            <% if(currentUser?.username) { %>
                <h1><%= currentUser?.username %> 님 환영합니다 :D</h1><br />
                <a href="/logout">로그아웃</a>
                <h2>MongoDB</h2>
                <ul>
                    <% aUsers?.forEach(function(oUser){ %>
                        <li><%= oUser.name %> // <%= oUser.phone %></li>
                    <% }); %>
                </ul>
                <h2>MariaDB</h2>
                <ul>
                    <% aInquirer?.forEach(function(oInquirer){ %>
                        <li><%= oInquirer['type'] %> // <%= oInquirer['name'] %>  //  <%= oInquirer['phone'] %>  //  <%= oInquirer['url'] %></li>
                    <% }); %>
                </ul>
            <% } else { %>
                <a href="/register">회원가입</a>
                <a href="/login">로그인</a>
            <% } %>
        </div>
    </div>
</body>

</html>